@import url('https://fonts.googleapis.com/css?family=Exo:600i|Lato');

* { margin:0; padding:0; box-sizing:border-box; }

body {
	color:#333;
	font-size:16px;
	font-family: 'Exo', sans-serif;
	line-height:1.3;
}

header p {
	clear:both;
}

nav {
	background-color:#5081ca; 
	padding:.5em 0;
}

nav a {
	color:#333;
	text-decoration: none;
	display: block;
	float: left;
	padding: 20px
}


#hero {
	background-image: url("../images/hero_sunset_run.jpg");
	background-size: cover;
	padding: 4em 0;
	height: 240vh;
	color: #5081ca;
	font-size: 2em;
}

.course {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding:4em 0;
	width: 33.33%;
	float: left;
}

p {
	font-family: 'Lato', sans-serif;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding:4em 0;
}
