@import url('https://fonts.googleapis.com/css?family=Exo:600i|Lato');

* { margin:0; padding:0; box-sizing:border-box; }
body {
	color:#333;
	font-size:16px;
	font-family: 'Exo', sans-serif;
	line-height:1.3;
}
section {
	padding:4em 0;
}
#intro {
	/* text-align: center; */
	background-image: url("../images/hero_sunset_run.jpg");
	background-size: cover;
	padding: 4em 0;
	height: 90vh;
	color: #fff;
	font-size: 2em;
}
p {
	font-family: 'Lato', sans-serif;
}
